/* 计划状态  */
.status{height:17px;overflow: hidden;width:17px;position:absolute;top:4px;left:0;}
.triangle{height:0;width:0;border-color: #555555 transparent;border-style: solid dashed none;border-width: 5px 5px 0;position: absolute;right: 0; top: 10px;overflow:hidden;}
.wait , .draft , .activity , .pause , .stop , .end{height:24px;line-height:24px;width:24px;padding:0 14px 0 20px;display:block;color:#333;position:relative;cursor:pointer;}
.activity{width:36px;}
.pause,.stop,.end{width:48px;}
.wait i{background-position: -194px 0;}
.draft i{background-position: -177px 0;}
.activity i{background-position: -230px 0;}
.pause i{background-position: -248px 0;}
.stop i {background-position: -265px 0;}
.end i{background-position:-212px 0;}
.status-select{width:80px;background-color: #FFFFFF;border: 1px solid #A6A6A6;padding: 0 1px;position:absolute;display:none;}
.status-select li{width:auto;padding-left:24px;padding-right:0;}

/* 定向投放  添加广告位弹窗 */
.orientation-info{border-top:1px solid #fff;}
.plan-info,.orientation-info {border-bottom: 1px solid #DDDDDD;}
.plan-info td,.plan-info th,.orientation-info td,.orientation-info th{border:none;padding:5px;}

.unity-table .orientation-list li{border:1px solid #ddd;background:#eee;padding:5px;margin-bottom:10px;}
.unity-table .orientation-list .edit{float:right;}
.unity-table .orientation-list .edit a{padding:0 5px;}

.orient-box{border: 1px solid #C2C7CB;float:left;background:#fff;}
.orient-box .orient-box-t,.orient-box .orient-box-b{background-color: #DEDEDE;height:28px;line-height:28px;padding:0 10px;}
.orient-box-b{border-top:1px solid #C2C7CB;}
.orient-box-b span{float:right;}
.orient-box ul{height:347px;overflow:visible;background:#fff;}
.orient-box ul li{height:28px;line-height:28px;margin-left:-1px;margin-top:-1px;padding-left:10px;border:1px solid #C2C7CB;}
.orient-box ul li input{vertical-align:sub;vertical-align:middle \9;}
#box_adzones ul{overflow:auto;}
#box_adzones ul li{padding:0;}
#box_adzones .orient-box .orient-box-h{height:20px;background:url("../images/adzoner_list_bg.png");overflow:visible;}
#box_adzones .orient-box .orient-box-h li{height:20px;line-height:20px;overflow:hidden;zoom:1;}
#box_adzones .orient-box .orient-box-h li span{height:20px;line-height:20px;}
#box_adzones .orient-box ul li input{margin-top:8px;_margin-top:4px;}
#box_adzones .orient-box ul .no_data,
#box_adzones .orient-box ul .loding{text-align:center;padding:100px 0;}
#box_adzones .orient-box .checkBox,
#box_adzones .orient-box .siteId,
#box_adzones .orient-box .siteName,
#box_adzones .orient-box .adId,
#box_adzones .orient-box .adName,
#box_adzones .orient-box .adSize{float:left;width:68px;height:28px;line-height:28px;overflow:hidden;padding:0 5px;}
#box_adzones .orient-box .checkBox{width:18px;}
#box_adzones .orient-box .siteId,
#box_adzones .orient-box .adId{width:60px;}
#box_adzones .orient-selecting ul{height:241px;}
#box_adzones .orient-selected ul li{padding:0 4px;}
#box_adzones .orient-selected .siteName,
#box_adzones .orient-selected .adName,
#box_adzones .orient-selected .adSize{width:41px;}

.orient-selected{width:200px;}
.orient-selected ul{overflow-y:auto;}
.orient-selected ul li{height: 28px;line-height: 28px;overflow:hidden;padding: 0 10px 0 30px;}
.orient-selected ul li ul{height:auto;}
.orient-selected ul li li{padding:0;padding-left:15px;border:none;}
.orient-selected ul li span{float:left;}
.orient-selected ul li a{float:right;}
.orient-selected  #zone_selected_list .zone_arrow_dot{width:7px;height:7px;background: url("../images/icon_arrow_dot.png") no-repeat left top;cursor: pointer;float: left;margin: 12px 0 0 -13px;position: relative;}
.orient-selected  #zone_selected_list .closecity .zone_arrow_dot {background-position: -8px top;margin-top: 10px;}
.orient-selected  #zone_selected_list .part_zone_li{height:auto;}
.orient-selected  #zone_selected_list .part_zone {height: 28px;line-height: 28px;}
.orient-selected  .closecity .zone_city_selected_list {display: none;}
.orient-selecting{width:424px;}
.region .orient-selecting ul li{width:96px;float:left;}
.region .orient-selecting ul li .city_list{width:106px;height:140px;margin:-70px 0 0 70px;*margin:-40px 0 0 10px;overflow-y:auto;overflow-x:hidden;border:1px solid #C2C7CB;position:absolute;display:none;z-index:150;}
.region .orient-selecting ul li .city_list li{margin-top:-1px;}
.region .orient-selecting .showcity .city_list,.orient-box ul li:hover .city_list{display:block;}

.browser .orient-selecting ul li,.crowd .orient-selecting ul li{width:201px;float:left;}
.time .orient-box{float:none;}
.time .orient-box table{width:100%;}
.time .orient-box table td{padding:10px 5px;border-top:1px solid #C2C7CB;border-left:1px solid #C2C7CB;}
.time .orient-box table .week_list{height:auto;}
.time .orient-box table .week_list li {float: left;margin-right: 20px;border:none;padding:0;}
.time .orient-box table .timeslot_list {height: 31px;padding-top: 1px;}
.time .orient-box table .timeslot_list li {border:none;margin:0;padding:0;background-color: #F4EFDE;cursor: pointer;float: left;font-size: 11px;height: 30px;line-height: 30px;margin-right: 1px;text-align: center;width: 20px;}
.time .orient-box table .timeslot_list li.selected {background-color: #69ACFF;color: #FFFFFF;}
.time .orient-box table .title {text-align: right;width: 120px;}
.J_timeslot {position: relative;}
.J_timeslot_time {font-size:11px;position: absolute;top: 32px;}
.location{padding-bottom:10px;}
.arrow_to_right{float:left;width:14px;height:9px;margin:150px 14px 0;background:url(../images/icon_arrow.png);overflow:hidden;}

.sure-cancel{text-align:center;padding:20px 0;clear:both;}

/* 广告位、创意管理 */
.ad-list{height:208px;overflow:scroll;overflow-x:hidden;background:#fff;}
.ad-manage{padding:20px 0;border-top:1px solid #fff;border-bottom:1px solid #ddd;}
.creative-manage{padding:20px 0;border-top:1px solid #fff;}

/* dialog 浮层 */
#orient_widget,#creative_dialog,.yui3-overlay{background:#F1F7F5 url(../images/tips_bg700.gif) repeat-y;}
#creative_dialog{height:733px;}
#creative_dialog .dialog-bd{padding:0 5px;height:679px;}
.dialog-hd{background:url(../images/tips_t700.gif) no-repeat;padding:5px 10px;overflow:hidden;zoom:1;}
.dialog-hd h3{float:left; color:#403E6B;}
.dialog-hd a{float:right;width:15px;height:15px;margin-top:4px;cursor:pointer;background:url(../images/tips_close.gif);overflow:hidden;text-indent:-999em;}
.dialog-bd{padding:15px;min-height:140px;_height:140px;background:url(../images/tips_b700.gif) 0 bottom no-repeat;}

/* calendar */
.month_prev_next .prev,.month_prev_next .next,.J_double_calendar,.J_calendar{background-image:url(http://a.alimama.cn/t/images/sys/calendar_bg.gif);background-repeat:no-repeat;}
.J_calendar_div{border:solid 1px #a4a4a4;-moz-box-shadow: 2px 2px #dfdfdf ;padding:5px;background-color:#fff;z-index:999;*width:183px;}
.J_calendar_div select{margin-right:4px;}

.month_prev_next{float:right; width:28px;padding-top:4px; padding-right:14px;}
.J_calendar_div .month_prev_next{*margin-top:-20px;}
.month_prev_next .prev{float:left;background-position:left -30px;width:10px;height:11px;text-indent:-999px;overflow:hidden;cursor:pointer;}
.month_prev_next .next{float:right;background-position:right -30px;width:10px;height:11px;text-indent:-999px;overflow:hidden;cursor:pointer;}

.calendar_table_h{background-color:#fff;border-collapse:separate;border-spacing:1px;*width:183px;}
.calendar_table_h td,.calendar_table_h th{width:25px;height:25px;text-align:center;}
.calendar_table_h td{background-color:#EFE8D1;cursor:pointer;}
.calendar_table_h .over_td{background-color:#E7D9AD;}
.calendar_table_h .no_this_month,.calendar_table_h .error_day{background-color:#CFCFCF;color:#949494;cursor:auto;}

.calendar_table_h .today{background-color:#DAC586;}
.calendar_table_h .selected{background-color:#69ACFF;color:#fff;}
.calendar_table_h .selected_nomonth{background-color:#adcbe2;color:#7b95a9;}

.J_double_calendar,.J_calendar{background-position:2px 2px;cursor:pointer; padding:0px 2px 0px 30px;height:22px;line-height:22px;border:solid 1px #ccc; width:180px;background-color:#fff;}
.J_calendar{width:90px;}
.J_double_calendar_div{	-moz-box-shadow: 2px 2px #dfdfdf ;padding:5px;background-color:#fff;width:385px;border:solid 1px #a4a4a4;z-index:1000;}
.dcalendar_body {float:left;padding:4px;width:180px;}
.dcalendar_input_body{float:left;width:190px; text-align:center;}
.dcalendar_input_body input{height:20px;line-height:20px;width:90px;}
.dcalendar_but{width:380px;text-align:center; float:left;padding:6px 0;}
.dcalendar_but input{margin:0 10px;}
.dcalendar_body select{margin-right:4px;float:left;}

.ad_btn{width:50px;}
.actionMessage{text-align:center;color:#ff0000;font-weight:bold;padding:5px 0;}

/* add_staff_form */
.add_staff_form{
   
}

.add_staff_form_list {
    margin-bottom:20px;
    height: 350px;
    overflow: auto;
}

.add_staff_form_list li{
    padding: 0 0 10px 80px;
}

.add_staff_form_list li label{
    float:left;
    width:70px;
    margin-left:-80px;
    text-align:right;
}

.add_staff_form_btns{
    text-align:center;
}

.delete_ico{
    background:url(../images/ico_jh.gif) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
}

.ipt-warm{
    border:1px solid red;
}




/* 创意元素管理 */
.leimu{
    padding:10px 0 0 70px;
    border-top:1px solid #ddd;
    margin-top:10px;
}
.leimu label{
    float:left;
    margin-left:-70px;
}
.leimu-list li{
    float:left;
    margin:0 20px 5px 0;
    display:inline;
    padding:1px 3px;
    height:17px;
    line-height:17px;
    white-space:nowrap;
    position:relative;
}
.leimu-list li a,.leimu-list li span{
    
    padding-right:5px;
}

.leimu-list li.selected{
    border:1px solid #36c;
    background-color:#fff;
    padding:0 15px 0 3px;
}
.leimu-list li.selected a{
    cursor:default;
}
.leimu-list li.selected a:hover{
    text-decoration:none;
    color:#36c;
}

.leimu-list li.selected .ico-del{
    right:2px; 
    top:2px;
    position:absolute;
    display:block;
    
}
.leimu-list li .ico-del{
    display:none;
}



.creative-extend{
    padding:0 10px;
}
.creative-extend-handle{
    padding-bottom:10px;
}
.creative-extend-handle .sp{
    margin-left:30px;
}
.creative-extend-handle .sp a{
    margin-right:15px;
}
.creative-extend-list{}
.creative-extend-list li{
    float:left;
    width:172px;
    padding:0 10px 0 20px;

}
.creative-extend-list li .cb{
    float:left;
    width:20px;
    margin-left:-20px;
    display:inline;
    overflow:hidden;
}
.creative-extend-list li .pic{
    border:1px solid #ccc;
    padding:5px;
    width:160px;
    height:200px;
    overflow:hidden;
    margin-bottom:5px;
    _margin-top:-15px;
    
}
.creative-extend-list li .pic .imgbox{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    margin-bottom:5px;
    width:160px;
    height:160px;
    overflow:hidden;
    *display:block;
    *font-size:110px;
    *font-family:Arial;
}
.creative-extend-list li .pic .imgbox img{
    max-width:160px;
    max-height:160px;
    _width:160px;
    vertical-align:middle;
    margin:0 auto 5px;
}

.creative-extend-list li .pic .title{
    height:18px;
    overflow:hidden;
}
.creative-extend-list li .edit{
    /* padding:0 0 10px; */
    height:36px;
}
.creative-extend-list li .edit a{
    /* margin:0 8px; */
}
.creative-extend-list li .edit a.disabled{
    color:#999;
    text-decoration:none!important;
    cursor:default;
    
}

.creative-extend-list li.alternative .pic{
    border:2px solid #06c;
    padding:4px;
}
.creative-extend-list li.selected .pic{
    border:2px solid red;
    padding:4px;
}
.hide-ipt{
    border:0;
    padding:3px;
    height:16px;
    line-height:16px;
    width:120px;
}
.show-ipt{
    border:1px solid #ccc;
    padding:2px;
    height:16px;
    line-height:16px;
    width:120px;
}
.show-ipt:focus,.show-ipt:hover{
    border-color:#f60;
    box-shadow:1px 1px 0 rgba(0,0,0,0.17) inset;
    -moz-box-shadow:1px 1px 0 rgba(0,0,0,0.17) inset;
    -webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.17) inset;
}

.importDiv{
    text-align:center;
}
.importDiv p{
    padding:15px 0;
}

.picPreview{
    position:absolute;
    display:none;
}
.picPreview img{
    /* max-width:400px; */
    border:1px solid #aaa;
    padding:5px;
    background-color:#fff;
    box-shadow:3px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
}

