<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="wb:webmaster" content="d07450928f2d3ec0" />
<link rel="shortcup icon" href="${staticRoot}/cyds/site/images/icon.ico"/>
<link rel="stylesheet" href="${staticRoot}/cyds/site/css/index.css" type="text/css" media="screen" />
<title>2015西安市创业创新大赛</title>
<script src="${staticRoot}/cyds/site/js/jquery.js"></script>
    <!--  兼容IE8以下的HTML5 标签-->
    <!-[if lt IE 8]>
    <script src='${staticRoot}/cyds/site/js/html5.js'></script>
    <![endif]–>
    <!-- 每个页面都要引入的脚本 end-->
</head>
<body>
	<div class="header">
		<header class="common-header">
	  </header>
	</div>
	
	$screen_content
	
	<div id="footer">
		<div class="foot">
			<ul>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">联系方式</a></li>
			</ul>
			<ul class="rightLink">
				<li><a>opyright @ 2012-2015 西安创新创业大赛组委会 保留一切权利 陕ICP备1201</a></li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript" src="${staticRoot}/cyds/site/js/swipe.js"></script>
	<script type="text/javascript">
		var elem = document.getElementById('mySwipe');
		window.mySwipe = Swipe(elem, {auto : 3000});         /*自动轮播*/
	</script>
</body>
</html>
