<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="${staticRoot}/comm/oldAdmin/css/reset.source.css" />
<link rel="stylesheet" type="text/css" href="${staticRoot}/comm/oldAdmin/css/baselayout.css" />
<link rel="stylesheet" type="text/css" href="${staticRoot}/comm/oldAdmin/css/putin.css" />
<link rel="stylesheet" type="text/css" href="${staticRoot}/comm/jquery-easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${staticRoot}/comm/jquery-easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${staticRoot}/comm/jquery-easyui/demo/demo.css">
	
<link type="text/css" href="${staticRoot}/comm/css/common.css" rel="stylesheet" />
<link type="text/css" href="${staticRoot}/comm/css/wbox.css" rel="stylesheet" />

<script type="text/javascript" src="${staticRoot}/comm/oldAdmin/base.js"></script>
<script type="text/javascript" src="${staticRoot}/comm/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${staticRoot}/comm/jquery-easyui/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="${staticRoot}/comm/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${staticRoot}/comm/jquery-easyui/myself-easyui-tools.js"></script>
<script type="text/javascript" src="${staticRoot}/comm/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script charset="utf-8" src="${staticRoot}/comm/kindeditor-4.1.7/kindeditor.js"></script>
</head>
<body>
 $screen_content
</body>
</html>
