#set( $layout = "/layout/old-layout.vm")
<script>
	 #if("$!message"!="")
		#if("$!message"=="success")
			parent.jQuery('#messnoti_div').window('close');
			parent.jQuery("#messnotiTable").datagrid('reload');
		#else
			jQuery.messager.alert('Info', "操作失败！", 'info');
		#end
	#end
</script>
<form action="/admin/messnoti/saveImg" method="post" id="messnotiform" enctype="multipart/form-data">
	<input name="mtype" type="hidden" value="6"/>
	<div class="box info-list">
		<table class="unity-table" id="J_adboardList">
			<div class="operate-btn">
        		<ul>
        			<li><a href="javascript:addTr()"><span>新增一行</span></a></li>
        		</ul>
        	</div>
    		<tbody id="bxdtbdExp">
				<tr id="firstTr">
    				<td style="width:120px">附件:</td>
    				<td style="width:320px">
						<input type="file" name="files" /><br/>
					</td>
    			</tr>
    		</tbody>
    		<tfoot>
    			<tr>
					<td colspan="4" style="text-align: center">
						<a href="javascript:void(0)" class="sunday-button-a" onclick="doSubmitmessnoti()">确定</a>
					</td>
    			</tr>
            </tfoot>
    </div>
</form>
	
<script>

var currentDelId = -1;
function addTr(){
	var trNode = $("#firstTr").clone();
    var _replaceHtml = trNode.html();
    trNode=null;
	var trrep = '<tr id="firstTr'+currentDelId+'">';
	replaceHtml=trrep+_replaceHtml+'<td><a href="javascript:removeTr('+currentDelId+')">[删除]</a></td>';
	$("#bxdtbdExp").append(replaceHtml+"</tr>");
	currentDelId--;
};

function removeTr(id){
	$("#firstTr"+id).remove();
}

 function doSubmitmessnoti(){
	$("#messnotiform").submit();
 }
 
var editor1 = KindEditor.create('textarea[id="_comment"]', {
	uploadJson:'${webPath}/kindEditorUpload',
	allowFileManager : true,
	width:"500px",
	height:"380px",
	afterBlur:function(){
	    this.html();
	},
	afterChange:function(){
	   $("#_comment").val(this.html());
	}
});
 
</script>