<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.yisheng.handchain.dao.AdminHandBookMapper">

	<resultMap id="adminHandbookRM" type="com.hz.yisheng.handchain.orm.HandBook">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="subtitle" column="subtitle" />
		<result property="summary" column="summary" />
		<result property="content" column="content" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
		<result property="updater" column="updater" />
		<result property="updateTime" column="update_time" />
		<result property="isDeleted" column="is_deleted" />
		<result property="hospitalId" column="hospital_id"/>
		<result property="hospitalName" column="hospital_name"/>
	</resultMap>
	
	<sql id="ADMIN_HANDBOOK_SQL">
	  title,subtitle,summary,content,creator,create_time,updater,update_time,is_deleted,hospital_id
	</sql>

	<insert id="insert" parameterType="com.hz.yisheng.handchain.orm.HandBook" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
	       INSERT INTO handbook(<include refid="ADMIN_HANDBOOK_SQL" />)
	        VALUES (#{title},#{subtitle},#{summary},#{content},#{creator},now(),#{updater},now(),1,#{hospitalName})
	</insert>
	
	<delete id="delete">
	    update handbook set is_deleted = 0 where id=#{id}
	</delete>
	
	<update id="update" parameterType="HandBook">
		UPDATE handbook set update_time = now()
		<if test="title != null">
		   <![CDATA[ ,title=#{title}]]>
		</if>
		<if test="hospitalId != null">
		   <![CDATA[ ,hospital_id=#{hospitalName}]]>
		</if>
		<if test="content != null">
		   <![CDATA[ ,content=#{content}]]>
		</if>
		WHERE ID = #{id}
	</update>
	
	<select id="count" resultType="java.lang.Long" parameterType="map">
		SELECT count(b.id) FROM handbook b,hospital p where b.is_deleted=1 and p.id=b.hospital_id
		<if test="title != null and title != ''"> 
		   <![CDATA[ and b.title like CONCAT('%',#{title},'%')]]>
		</if>
		<if test="content != null and content != ''"> 
		   <![CDATA[ and b.title like CONCAT('%',#{title},'%')]]>
		</if>
	   <if test="startTime != null and startTime != ''">
			<![CDATA[ and DATE_FORMAT(b.create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and DATE_FORMAT(b.create_time, '%Y-%m-%d') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
		</if>
	</select>

	<select id="list" resultMap="adminHandbookRM" parameterType="string">
		SELECT b.id,b.title,b.subtitle,b.summary,b.content,b.creator,b.create_time,b.updater,b.update_time,b.is_deleted,b.hospital_id ,
		p.hospital_name as  hospitalName 
		FROM handbook b,hospital p where b.is_deleted=1 and p.id=b.hospital_id
		<if test="title != null and title != ''"> 
		   <![CDATA[ and b.title like CONCAT('%',#{title},'%')]]>
		</if>
		<if test="content != null and content != ''"> 
		   <![CDATA[ and b.title like CONCAT('%',#{title},'%')]]>
		</if>
	   <if test="startTime != null and startTime != ''">
			<![CDATA[ and DATE_FORMAT(b.create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and DATE_FORMAT(b.create_time, '%Y-%m-%d') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
		</if>
		ORDER BY b.create_time desc
		<if test="rowStart !=null and pageSize !=null">
	   limit #{rowStart},#{pageSize}
	   </if>
	</select>
	
	<select id="select" resultMap="adminHandbookRM">
		SELECT id, <include refid="ADMIN_HANDBOOK_SQL" /> FROM handbook where id = #{id} and is_deleted=1
	</select>
	<select id="getAll" resultType="com.hz.yisheng.handchain.orm.Hospital">
		select id,hospital_name hospitalName,address,city_id cityId,province_id provinceId,district_id districtId,telephone from hospital
	</select>
	
	<select id="queryById" resultMap="adminHandbookRM">
		select h.content,h.id,h.title,h.hospital_id,hh.hospital_name  from handbook h 
		left join hospital hh on hh.id = h.hospital_id and hh.is_deleted=1
		where h.is_deleted=1 and h.id = #{id}
	</select>
</mapper>