<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hz.yisheng.handchain.dao.ChildHealthMapper">
	<resultMap type="com.hz.yisheng.handchain.orm.ChildHealth" id="CHILD_HEALTH_RESULT">
		<id property="id" column="id"/>
		<result property="customerId" column="customer_id"/>
		<result property="icterus" column="icterus"/>
		<result property="bloodPre" column="blood_pre"/>
		<result property="heartRate" column="heart_rate"/>
		<result property="temperature" column="temperature"/>
		<result property="weight" column="weight"/>
		<result property="bloodType" column="blood_type"/>
		<result property="redBloodCell" column="red_blood_cell"/>
		<result property="whiteBloodCell" column="white_blood_cell"/>
		<result property="bloodPlat" column="blood_plat"/>
		<result property="glucose" column="glucose"/>
		<result property="carba" column="carba"/>
		<result property="trioxy" column="trioxy"/>
		<result property="creatinine" column="creatinine"/>
		<result property="pyruvicAcid" column="pyruvic_acid"/>
		<result property="bloodFat" column="blood_fat"/>
		<result property="cholest" column="cholest"/>
		<result property="phospho" column="phospho"/>
		<result property="trigly" column="trigly"/>
		<result property="vitalCapa" column="vital_capa"/>
		<result property="cordBlood" column="cord_blood"/>
		
		<result property="creator" column="creator"/>
		<result property="createTime" column="create_time"/>
		<result property="updater" column="updater"/>
		<result property="updateTime" column="update_time"/>
		<result property="isDeleted" column="is_deleted"/>
		<result property="gatherer" column="gatherer"/>
		<result property="gatherDate" column="gather_date"/>
	</resultMap>	
	
	<sql id="CHILD_HEALTH_SQL">
		customer_id,icterus,blood_pre,heart_rate,temperature,weight,blood_type,red_blood_cell,white_blood_cell,blood_plat,glucose,carba,trioxy,creatinine,pyruvic_acid,blood_fat,
		cholest,phospho,trigly,vital_capa,cord_blood,creator,create_time,updater,update_time,is_deleted,gatherer,gather_date
	</sql>
	
	<insert id="insert" parameterType="com.hz.yisheng.handchain.orm.ChildHealth" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
		insert into child_health(id,<include refid="CHILD_HEALTH_SQL"/>) values(id,#{customerId},#{icterus},#{bloodPre},#{heartRate},
		#{temperature},#{weight},#{bloodType},#{redBloodCell},#{whiteBloodCell},
		#{bloodPlat},#{glucose},#{carba},#{trioxy},#{creatinine},#{pyruvicAcid},#{bloodFat},#{cholest},
		#{phospho},#{trigly},#{vitalCapa},#{cordBlood},#{creator},now(),#{updater},#{updateTime},1,#{gatherer},#{gatherDate})
	</insert>
	
	<select id="list" parameterType="java.util.HashMap" resultMap="CHILD_HEALTH_RESULT">
		select a.path as picture,h.id,h.customer_id,h.icterus,h.blood_pre,h.heart_rate,h.temperature,
		h.weight,h.blood_type,h.red_blood_cell,h.white_blood_cell,h.blood_plat,h.glucose,h.carba,h.trioxy,h.creatinine,h.pyruvic_acid,h.blood_fat,
		h.cholest,h.phospho,h.trigly,h.vital_capa,h.cord_blood,h.creator,h.create_time,h.updater,h.update_time,h.gather_date,h.gatherer,c.name from child_health h
		left join customer_base c on c.id = h.customer_id and c.is_deleted = 1
	 	left join attachement a on a.obj_id = h.id and a.is_del = 'n'
		where h.is_deleted = 1 
		<if test="id != null">
			<![CDATA[ and h.id =#{id}]]>
		</if>
		<if test="name != null and name != ''">
			<![CDATA[ and c.name LIKE CONCAT('%',#{name},'%')]]>
		</if>
		<if test="customerId != null">
			<![CDATA[ and h.customer_id =#{customerId}]]>
		</if>
		<if test="icterus != null and icterus != ''">
			<![CDATA[ and h.icterus =#{icterus}]]>
		</if>
		<if test="bloodPre != null and bloodPre != ''">
			<![CDATA[ and h.blood_pre =#{bloodPre}]]>
		</if>
		<if test="heartRate != null and heartRate != ''">
			<![CDATA[ and h.heart_rate =#{heartRate}]]>
		</if>
		<if test="temperature != null and temperature != ''">
			<![CDATA[ and h.temperature =#{temperature}]]>
		</if>
		<if test="startTime != null and startTime != ''">
			<![CDATA[ and DATE_FORMAT(h.gather_date, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and DATE_FORMAT(h.gather_date, '%Y-%m-%d') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
		</if>
		order by h.create_time desc,h.id desc
		<if test="rowStart!=null and pageSize!=null">
			<![CDATA[limit #{rowStart},#{pageSize}]]>
		</if> 
	</select>
	<select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap">
		select count(h.id) from child_health h
		left join customer_base c on c.id = h.customer_id and c.is_deleted = 1
	 	left join attachement a on a.obj_id = h.id and a.is_del = 'n'
		where h.is_deleted = 1
		<if test="id != null">
			<![CDATA[ and h.id =#{id}]]>
		</if>
		<if test="name != null and name != ''">
			<![CDATA[ and c.name LIKE CONCAT('%',#{name},'%')]]>
		</if>
		<if test="customerId != null">
			<![CDATA[ and h.customer_id =#{customerId}]]>
		</if>
		<if test="icterus != null and icterus != ''">
			<![CDATA[ and h.icterus =#{icterus}]]>
		</if>
		<if test="bloodPre != null and bloodPre != ''">
			<![CDATA[ and h.blood_pre =#{bloodPre}]]>
		</if>
		<if test="heartRate != null and heartRate != ''">
			<![CDATA[ and h.heart_rate =#{heartRate}]]>
		</if>
		<if test="temperature != null and temperature != ''">
			<![CDATA[ and h.temperature =#{temperature}]]>
		</if>
		<if test="startTime != null and startTime != ''">
			<![CDATA[ and DATE_FORMAT(h.gather_date, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and DATE_FORMAT(h.gather_date, '%Y-%m-%d') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
		</if>
	</select>
	
</mapper>