<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hz.yisheng.handchain.dao.CustomerChildMapper">
	<resultMap type="com.hz.yisheng.handchain.orm.CustomerChild" id="CUSTOMER_CHILD_RESULT">
		<id property="id" column="id"/>
		<result property="customerId" column="customer_id"/>
		<result property="childrenId" column="children_id"/>
		<result property="customerDeviceNumber" column="customer_device_number"/>
		<result property="childrenDeviceNumber" column="children_device_number"/>
		<result property="creator" column="creator"/>
		<result property="createTime" column="create_time"/>
		<result property="updater" column="updater"/>
		<result property="updateTime" column="update_time"/>
		<result property="isDeleted" column="is_deleted"/>
		<result property="ifAdd" column="if_add"/>
	</resultMap>	
	
	<sql id="CUSTOMER_CHILD_SQL">
		customer_id,children_id,customer_device_number,children_device_number,creator,create_time,updater,update_time,is_deleted,if_add
	</sql>
	
	<insert id="insert" parameterType="com.hz.yisheng.handchain.orm.CustomerChild" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
		insert into customer_child_device(id,<include refid="CUSTOMER_CHILD_SQL"/>) values(id,#{customerId},#{childrenId},#{customerDeviceNumber},#{childrenDeviceNumber},#{creator},now(),#{updater},#{updateTime},1,#{ifAdd})
	</insert>
	
	<select id="contactList" resultType="java.lang.Long" resultMap="CUSTOMER_CHILD_RESULT">
		select id,customer_id,children_id,customer_device_number,children_device_number from customer_child_device where  is_deleted = 1
		<if test="id != null">
			<![CDATA[ and id =#{id}]]>
		</if>
		<if test="customerId != null and customerId != ''">
			<![CDATA[ and customer_id =#{customerId}]]>
		</if>
	</select>
	
	<select id="queryByCustomerId" resultType="java.lang.Long" resultMap="CUSTOMER_CHILD_RESULT">
		select id,customer_id,children_id,customer_device_number,children_device_number from customer_child_device where customer_id=#{customerId} and children_id is null and is_deleted=1
	</select>
	
	<select id="list" parameterType="java.util.HashMap" resultMap="CUSTOMER_CHILD_RESULT">
		select c1.*,c2.customer_id,c2.children_id from customer_base c1
		left join customer_child_device c2 on c1.id = c2.customer_id and c2.is_deleted = 1
		where c1.is_deleted = 1 
		<if test="id != null">
			<![CDATA[ and id =#{id}]]>
		</if>
		<if test="customerId != null and customerId != ''">
			<![CDATA[ and customer_id =#{customerId}]]>
		</if>
		<if test="childrenId != null and childrenId != ''">
			<![CDATA[ and children_id =#{childrenId}]]>
		</if>
		<if test="customerDeviceNumber != null and customerDeviceNumber != ''">
			<![CDATA[ and customer_device_number =#{customerDeviceNumber}]]>
		</if>
		<if test="childrenDeviceNumber != null and childrenDeviceNumber != ''">
			<![CDATA[ and children_device_number =#{childrenDeviceNumber}]]>
		</if>
		order by c2.customer_id asc,c2.children_id asc
	</select>
	
	<select id="list2" parameterType="java.util.HashMap" resultMap="CUSTOMER_CHILD_RESULT">
		select c1.*,c2.customer_id,c2.children_id from customer_base c1
		left join customer_child_device c2 on c1.id = c2.customer_id and c2.is_deleted = 1
		where c1.is_deleted = 1 
	</select>
	
	<select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap">
		select count(c1.id) from customer_base c1
		left join customer_child_device c2 on c1.id = c2.customer_id and c2.is_deleted = 1
		where c1.is_deleted = 1 
		<if test="id != null">
			<![CDATA[ and id =#{id}]]>
		</if>
		<if test="customerId != null and customerId != ''">
			<![CDATA[ and customer_id =#{customerId}]]>
		</if>
		<if test="childrenId != null and childrenId != ''">
			<![CDATA[ and children_id =#{childrenId}]]>
		</if>
		<if test="customerDeviceNumber != null and customerDeviceNumber != ''">
			<![CDATA[ and customer_device_number =#{customerDeviceNumber}]]>
		</if>
		<if test="childrenDeviceNumber != null and childrenDeviceNumber != ''">
			<![CDATA[ and children_device_number =#{childrenDeviceNumber}]]>
		</if>
	</select>
	
	<update id="update" parameterType="com.hz.yisheng.handchain.orm.CustomerChild">
		update customer_child_device set id=#{id}
		<if test="customerId != null and customerId != ''">
			<![CDATA[,customer_id =#{customerId}]]>
		</if>
		<if test="childrenId != null and childrenId != ''">
			<![CDATA[ ,children_id =#{childrenId}]]>
		</if>
		<if test="customerDeviceNumber != null and customerDeviceNumber != ''">
			<![CDATA[ ,customer_device_number =#{customerDeviceNumber}]]>
		</if>
		<if test="childrenDeviceNumber != null and childrenDeviceNumber != ''">
			<![CDATA[ ,children_device_number =#{childrenDeviceNumber}]]>
		</if>
		<if test="updater != null and updater != ''">
		    <![CDATA[,updater=#{updater}]]>
		</if>
		<if test="updateTime != null and updateTime != ''">
		    <![CDATA[,update_time=#{updateTime}]]>
		</if>
		where id=#{id} and is_deleted=1
	</update>
	
	
</mapper>