<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.yisheng.handchain.dao.HospitalMapper">
	<resultMap type="com.hz.yisheng.handchain.orm.Hospital" id="HospitalMapper">
		<result property="id" column="id"/>
		<result property="address" column="address"/>
		<result property="telephone" column="telephone"/>
		<result property="province" column="province"/>
		<result property="cityId" column="city_id"/>
		<result property="provinceId" column="province_id" />
		<result property="districtId" column="district_id" />
		<result property="hospitalName" column="hospital_name"/>
		
		<result property="code" column="code"/>
		<result property="hospitalUrl" column="hospital_url"/>
		<result property="hospitalDes" column="hospital_des"/>
		<result property="creator" column="creator"/>
		<result property="createTime" column="create_time"/>
		<result property="updater" column="updater"/>
		<result property="updateTime" column="update_time"/>
		<result property="isDeleted" column="is_deleted"/>
		<result property="lat" column="lat"/>
		<result property="lng" column="lng"/>
	</resultMap>
	<sql id="HOSPITAL_SQL">
		address,telephone,city_id,province_id,district_id,hospital_name,code,hospital_url,hospital_des,creator,create_time,updater,update_time,is_deleted,lat,lng
	</sql>
		<select id="count" resultType="java.lang.Long" parameterType="map">
		SELECT count(h.id) FROM hospital h,t_city t where h.city_id=t.id
		<if test="cityId != null"> 
		   <![CDATA[ and h.city_id=#{cityId}]]>
		</if>
		<if test="provinceId != null"> 
		   <![CDATA[ and h.province_id=#{provinceId}]]>
		</if>
		<if test="districtId != null"> 
		   <![CDATA[ and h.district_id=#{districtId}]]>
		</if>
		<if test="hospitalName != null">
		   <![CDATA[ and h.hospital_name LIKE CONCAT('%',#{hospitalName},'%')]]>
		</if>
	</select>

	<select id="list" resultMap="HospitalMapper" parameterType="string">
		SELECT h.id,h.address,h.telephone,h.city_id,h.province_id,h.district_id,h.hospital_name,h.code,h.hospital_url,h.hospital_des,h.creator,h.create_time,h.updater,h.update_time,h.is_deleted,h.lat,h.lng,t.full_name as fullName FROM hospital h,t_city t where h.city_id=t.id
		<if test="cityId != null"> 
		   <![CDATA[ and h.city_id=#{cityId}]]>
		</if>
		<if test="provinceId != null"> 
		   <![CDATA[ and h.province_id=#{provinceId}]]>
		</if>
		<if test="districtId != null"> 
		   <![CDATA[ and h.district_id=#{districtId}]]>
		</if>
		<if test="hospitalName != null">
		   <![CDATA[ and h.hospital_name LIKE CONCAT('%',#{hospitalName},'%')]]>
		</if>
		ORDER BY h.id desc
		<if test="rowStart !=null and pageSize !=null">
	   limit #{rowStart},#{pageSize}
	   </if>
	</select>
	<select id="select" resultMap="HospitalMapper" >
		select	h.lat,h.lng,h.id,h.address,h.`code`,h.hospital_des,h.hospital_name,h.hospital_url,h.telephone,h.city_id,h.district_id,h.province_id,t.full_name as fullName from hospital h 
		left join t_city t on t.id = h.city_id
		where h.id = #{id}
	</select>
	
	<insert id="insert" parameterType="com.hz.yisheng.handchain.orm.Hospital" useGeneratedKeys="true"
	keyProperty="id" keyColumn="id">
	       INSERT INTO hospital(<include refid="HOSPITAL_SQL" />)
	        VALUES (#{address},#{telephone},#{cityId},#{provinceId},#{districtId},#{hospitalName},#{code},#{hospitalUrl},#{hospitalDes},#{creator},#{createTime},#{updater},#{updateTime},1,#{lat},#{lng})
	</insert>
	
	<delete id="delete">
	    delete from hospital where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.hz.yisheng.handchain.orm.Hospital">
		UPDATE hospital set
		<if test="address != null">
		   <![CDATA[address=#{address}]]>
		</if>
		<if test="telephone != null">
		   <![CDATA[ ,telephone=#{telephone}]]>
		</if>
		<if test="cityId != null">
		   <![CDATA[ ,city_id=#{cityId}]]>
		</if>
		<if test="provinceId != null">
		   <![CDATA[ ,province_id=#{provinceId}]]>
		</if>
		<if test="districtId != null">
		   <![CDATA[ ,district_id=#{districtId}]]>
		</if>
		<if test="hospitalName != null"> 
		   <![CDATA[ ,hospital_name=#{hospitalName}]]>
		</if>
		<if test="code != null"> 
		   <![CDATA[ ,code=#{code}]]>
		</if>
		<if test="hospitalUrl != null"> 
		   <![CDATA[ ,hospital_url=#{hospitalUrl}]]>
		</if>
		<if test="hospitalDes != null"> 
		   <![CDATA[ ,hospital_des=#{hospitalDes}]]>
		</if>
		<if test="createTime != null"> 
		   <![CDATA[ ,create_time=#{createTime}]]>
		</if>
		<if test="creator != null"> 
		   <![CDATA[ ,creator=#{creator}]]>
		</if>
		<if test="updater != null"> 
		   <![CDATA[ ,updater=#{updater}]]>
		</if>
		<if test="updateTime != null"> 
		   <![CDATA[ ,update_time=#{updateTime}]]>
		</if>
		<if test="lat != null"> 
		   <![CDATA[ ,lat=#{lat}]]>
		</if>
		<if test="lng != null"> 
		   <![CDATA[ ,lng=#{lng}]]>
		</if>
		WHERE ID = #{id}
	</update>
	<!-- 查询所有的医院名称 -->
	<select id="queryHospitalName" parameterType="java.util.HashMap" resultMap="HospitalMapper">
		select id,hospital_name from hospital
	</select>
</mapper>