<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.yisheng.handchain.dao.AdminHandBookMapper">

	<resultMap id="adminHandbookRM" type="com.hz.yisheng.handchain.orm.HandBook">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="subtitle" column="subtitle" />
		<result property="summary" column="summary" />
		<result property="content" column="content" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
		<result property="updater" column="updater" />
		<result property="updateTime" column="update_time" />
		<result property="isDeleted" column="is_deleted" />
	</resultMap>
	
	<sql id="ADMIN_HANDBOOK_SQL">
	  title,subtitle,summary,content,creator,create_time,updater,update_time,is_deleted
	</sql>

	<insert id="insert" parameterType="com.hz.yisheng.handchain.orm.HandBook" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
	       INSERT INTO handbook(<include refid="ADMIN_HANDBOOK_SQL" />)
	        VALUES (#{title},#{subtitle},#{summary},#{content},#{creator},now(),#{updater},now(),1)
	</insert>
	
	<delete id="delete">
	    update handbook set is_deleted = 0 where id=#{id}
	</delete>
	
	<update id="update" parameterType="HandBook">
		UPDATE handbook set update_time = now()
		<if test="title != null">
		   <![CDATA[ ,title=#{title}]]>
		</if>
		<if test="subtitle != null">
		   <![CDATA[ ,subtitle=#{subtitle}]]>
		</if>
		<if test="summary != null">
		   <![CDATA[ ,summary=#{summary}]]>
		</if>
		<if test="content != null">
		   <![CDATA[ ,content=#{content}]]>
		</if>
		WHERE ID = #{id}
	</update>
	
	<select id="count" resultType="java.lang.Long" parameterType="map">
		SELECT COUNT(*) FROM handbook where is_deleted=1
		<if test="title != null and title != ''"> 
		   <![CDATA[ and title like CONCAT('%',#{title},'%')]]>
		</if>
		<if test="content != null and content != ''"> 
		   <![CDATA[ and title like CONCAT('%',#{title},'%')]]>
		</if>
	   <if test="startTime != null and startTime != ''">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
		</if>
		ORDER BY create_time desc
		<if test="rowStart !=null and pageSize !=null">
	   limit #{rowStart},#{pageSize}
	   </if>
	</select>

	<select id="list" resultMap="adminHandbookRM" parameterType="string">
		SELECT id,<include refid="ADMIN_HANDBOOK_SQL" /> FROM handbook where is_deleted=1
		<if test="title != null and title != ''"> 
		   <![CDATA[ and title like CONCAT('%',#{title},'%')]]>
		</if>
		<if test="content != null and content != ''"> 
		   <![CDATA[ and title like CONCAT('%',#{title},'%')]]>
		</if>
	   <if test="startTime != null and startTime != ''">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
		</if>
		ORDER BY create_time desc
		<if test="rowStart !=null and pageSize !=null">
	   limit #{rowStart},#{pageSize}
	   </if>
	</select>
	
	<select id="select" resultMap="adminHandbookRM">
		SELECT id, <include refid="ADMIN_HANDBOOK_SQL" /> FROM handbook where id = #{id} and is_deleted=1
	</select>
</mapper>