<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hz.yisheng.handchain.dao.ChildHealthMapper">
	<resultMap type="com.hz.yisheng.handchain.orm.ChildHealth" id="CHILD_HEALTH_RESULT">
		<id property="id" column="id"/>
		<result property="customerId" column="customer_id"/>
		<result property="icterus" column="icterus"/>
		<result property="bloodPre" column="blood_pre"/>
		<result property="heartRate" column="heart_rate"/>
		<result property="temperature" column="temperature"/>
		<result property="creator" column="creator"/>
		<result property="createTime" column="create_time"/>
		<result property="updater" column="updater"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>	
	
	<sql id="CHILD_HEALTH_SQL">
		customer_id,icterus,blood_pre,heart_rate,temperature,creator,create_time,updater,update_time
	</sql>
	
	<insert id="insert" parameterType="com.hz.yisheng.handchain.orm.ChildHealth" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
		insert into child_health(id,<include refid="CHILD_HEALTH_SQL"/>) values(id,#{customerId},#{icterus},#{bloodPre},#{heartRate},
		#{temperature},#{creator},now(),#{updater},#{updateTime})
	</insert>
	
	<select id="list" parameterType="java.util.HashMap" resultMap="CHILD_HEALTH_RESULT">
		select h.id,h.customer_id,h.icterus,h.blood_pre,h.heart_rate,h.temperature,h.creator,h.create_time,h.updater,h.update_time,c.name from child_health h
		left join customer_base c on c.id = h.customer_id
		where 1=1
		<if test="id != null">
			<![CDATA[ and h.id =#{id}]]>
		</if>
		<if test="name != null and name != ''">
			<![CDATA[ and c.name LIKE CONCAT('%',#{name},'%')]]>
		</if>
		<if test="customerId != null">
			<![CDATA[ and h.customer_id =#{customerId}]]>
		</if>
		<if test="icterus != null and icterus != ''">
			<![CDATA[ and h.icterus =#{icterus}]]>
		</if>
		<if test="bloodPre != null and bloodPre != ''">
			<![CDATA[ and h.blood_pre =#{bloodPre}]]>
		</if>
		<if test="heartRate != null and heartRate != ''">
			<![CDATA[ and h.heart_rate =#{heartRate}]]>
		</if>
		<if test="temperature != null and temperature != ''">
			<![CDATA[ and h.temperature =#{temperature}]]>
		</if>
		<if test="rowStart!=null and pageSize!=null">
			<![CDATA[limit #{rowStart},#{pageSize}]]>
		</if> 
	</select>
	<select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap">
		select count(id) from child_health where 1=1
	</select>
	
</mapper>