#set( $layout = "/layout/web-layout.vm")

<div class="wrapper">
	<div class="item ltjs detail">
		<h1>论坛介绍</h1>
		<div class="list">
			<div class="content">
				<img src="${staticRoot}/xccf/images/about.jpg" />
				<p>2014年中国经济经过了震荡的一年，在宏观经济疲软的背景下，货币政策频频宽松，与此同时股市节节攀升。而现今在世界经济形势前景不明，中国全面深化改革备受瞩目的大背景下，中国中小企业应该如何应对？中国中小企业应该如何进行品牌塑造、推广以及资源对接？从而实现利润的大幅增长。</p><br/>
		<p>为此，全球中小企业联盟、环球时报、浙江熙川文化发展有限公司以及浙江省中小企业协会等机构合作，将在2015年7月，在浙江杭州举办“全球新财富论坛(杭州）”。举办本次论坛，旨在为国际商界领袖、国际组织高官、中小企业精英打造高端国际交流平台，及时讨论中国中小企业面临的使命、增长点与挑战，并探讨各种解决方案，推动中小企业为支撑中国经济可持续与平衡的增长做出贡献。</p><br/>
		<p>届时，将会有800-1000位来自制造型企业、现代服务业、金融投资机构及金融服务机构、房地产公司的高管出席论坛。让中国企业家分享世界商界领袖的顶级智慧，给中国及世界经济指点迷津，为中国打造经济升级版图出谋划策。佛法修福、现场资源对接、品牌文化塑造、推广，全面提升企业影响力。</p>
			</div>
		</div>
	</div>
</div>
	