#set( $layout = "/layout/web-layout.vm")

<script>
function doRegister(){
	var name = $("#userName").val();
	var company = $("#company").val();
	var post = $("#post").val();
	var phone = $("#phone").val();
	var number = $("#number").val();
	
	var obj = document.getElementsByName('goal');
	var goal = "";
	for(var i=0; i<obj.length; i++){    
		if(obj[i].checked) {
			goal += obj[i].value + ",";  //如果选中，将value添加到变量s中    
		}
	}   
	
	if(jQuery.trim(name)=="" ||  jQuery.trim(company)=="" || jQuery.trim(post)=="" || jQuery.trim(phone)=="" || jQuery.trim(number)=="" || jQuery.trim(goal)==""){
		alert("姓名，公司，职务，手机，您的意向，人数都是必填项~");
		return;
	}
	jQuery.post("/admin/ticket/add",{name:name,company:company,post:post,phone:phone,number:number,goal:goal},function(data){
		if (data == "1") {
			alert("信息提交成功~");
			window.location.href = "/xccf/index"
		} else {
			alert("信息提交失败~");
		}
	});
}
</script>

<div class="banner"><a href="#"><img src="${staticRoot}/xccf/images/banner.jpg" /></a></div>
<div class="wrapper">   
	<div class="leftWrapper">
		<div class="focus">
			<div class="ProPic">
				<div class="pic">
				  <div class="index_ban">
						<div id='mySwipe' class='swipe'>
							<div class='swipe-wrap'>
								#foreach($ft in $!{imgList})
									#foreach($item in $!{ft.attList})
										 #if($velocityCount <= 5)
												<div><a href="javascript:void(0)"><img src="${imageRoot}/$!{item.path}" alt='' width="680px" height="390px"/></a><span></span></div>
										 #end
									#end
								#end
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item xwzx">
			<h1>新闻中心</h1>
			<div class="list">
				<ul>
					#foreach($ft in $!{newsList})
    					<li>
							#foreach($item in $!{ft.attList})
								<div class="pic">
									<a href="#"><img src="${imageRoot}/$!{item.path}" width="200px" height="120px"/></a>
								</div>
							#end
    						<div class="nameContent">
    							<div class="title"><a href="#">$!{ft.title}</a></div>
    							<div class="time">$!timeUtils.format($!{ft.actionTime},"yyyy-MM-dd")</div>
    							<div class="content">$!{ft.comment}</div>
    						</div>
    					</li>
					#end
				</ul>
				<div class="moreList" onClick="window.open('/xccf/news/index')">查看更多</div>
			</div>
		</div>
		<div class="item hdmp">
			<h1>如何获得门票？</h1>
			<div class="list" style="background:url(${staticRoot}/xccf/images/hdmp.jpg) no-repeat center 0;width: 680px;height: 395px;">
				<input id="userName" name="name" class="easyui-validatebox" data-options="required:true" style="border:1px solid #a09e99; width:196px; height:29px; line-height:28px; padding-left:3px;margin-left: 447px;margin-top: 29px;"/>
				<input id="company" name="company" class="easyui-validatebox" data-options="required:true" style="border:1px solid #a09e99; width:196px; height:29px; line-height:28px; padding-left:3px;margin-left: 447px;margin-top: 9px;"/>
				<input id="post" name="post" class="easyui-validatebox" data-options="required:true" style="border:1px solid #a09e99; width:196px; height:29px; line-height:28px; padding-left:3px;margin-left: 447px;margin-top: 9px;"/>
				<input id="phone" name="phone" class="easyui-validatebox" data-options="required:true,validType:'mobile'" style="border:1px solid #a09e99; width:196px; height:29px; line-height:28px; padding-left:3px;margin-left: 447px;margin-top: 9px;"/>
				<input type="checkbox" name="goal" checked value="报名参加论坛" style="margin-left: 396px;margin-top: 49px; width: 22px;height: 15px;"/>
				<input type="checkbox" name="goal" value="我想要加盟这个项目" style="margin-left: 91px; width: 22px;height: 15px;"/>
				<input type="checkbox" name="goal" value="借助这个平台推广自己的产品" style="margin-left: 396px;margin-top: 10px; width: 22px;height: 15px;"/>
				<input type="checkbox" name="goal" value="其他" style="margin-left: 169px; width: 22px;height: 15px;"/>
				<input id="number" name="number" class="easyui-validatebox" data-options="required:true,validType:'number'" style="border:1px solid #a09e99; width:196px; height:29px; line-height:28px; padding-left:3px;margin-left: 447px;margin-top: 5px;"/>
				<a href="javascript:doRegister()">
					<img src="${staticRoot}/xccf/img/btn_submit.png" style="margin-left: 449px; margin-top: 24px;"/>
				</a>
			</div>
		</div>
		<div class="item ltyc">
			<h1>论坛议程</h1>
			<div class="list">
				#foreach($ft in $!{programList})
    				<dl #if($velocityCount == $!{proCount}) class="last" #end>
    					<dt>
    						<div style="background:url(${staticRoot}/xccf/img/hd.png) no-repeat 0;">
    							<p style="margin-left: 20px;font-size: 20px;color: white;">$!{ft.schedule}</p>
    						</div>
    					</dt>
    					<dd><div class="text">$!{ft.comment}</div></dd>
    				</dl>
    			#end
			</div>
		</div>
	</div>
	<div class="rightWrapper">
		<div class="panelBox data">
			<div class="dataLine">
				<div class="title"><span>论坛主题</span></div>
				<div class="content">中国能继续引领世界经济增长吗？</div>
			</div>
			<div class="dataLine">
				<div class="title"><span>时　　间</span></div>
				<div class="content">2015.07.04-06</div>
			</div>
			<div class="dataLine">
				<div class="title"><span>地　　点</span></div>
				<div class="content">杭州黄龙饭店</div>
			</div>
			<div class="dataLine">
				<div class="title"><span>论坛规模</span></div>
				<div class="content">800-1000位高管出席</div>
			</div>
			<div class="dataLine">
				<div class="title"><span>主 持 人</span></div>
				<div class="content">金融教授王家卓、中央电视台主持人</div>
			</div>
		</div>
		<div class="panelBox dataLine datap">
			<div class="title"><span>主办单位</span></div>
			<ul>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo1.jpg" /></a></li>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo2.jpg" /></a></li>
			</ul>
		</div>
		<div class="panelBox dataLine datap">
			<div class="title"><span>独家承办机构</span></div>
			<ul>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo3.jpg" /></a></li>
			</ul>
		</div>
		<div class="panelBox dataLine datap">
			<div class="title"><span>特邀承办机构</span></div>
			<ul>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo4.jpg" /></a></li>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo5.jpg" /></a></li>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo6.jpg" /></a></li>
				<li><a href="#"><img src="${staticRoot}/xccf/images/comLogo7.jpg" /></a></li>
			</ul>
		</div>
		<div class="item lxt guest">
			<h1>领袖团</h1>
			<div class="list">
				<ul>
					<li>
						<div class="pic">
							<a href="/xccf/leader/index"><img src="${staticRoot}/xccf/images/pic_01.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">德国前总统</div>
							<div class="title"><a href="/xccf/leader/index">霍斯特·克勒</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/leader/index"><img src="${staticRoot}/xccf/images/pic_02.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">法国前总理</div>
							<div class="title"><a href="/xccf/leader/index">让-皮埃尔·拉法兰</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/leader/index"><img src="${staticRoot}/xccf/images/pic_03.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">全球中小企业联盟主席</div>
							<div class="title"><a href="/xccf/leader/index">卡洛斯·马格里诺斯</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/leader/index"><img src="${staticRoot}/xccf/images/pic_04.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">中国前外交部部长</div>
							<div class="title"><a href="/xccf/leader/index">李肇星</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/leader/index"><img src="${staticRoot}/xccf/images/pic_05.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">中国银监会前主席</div>
							<div class="title"><a href="/xccf/leader/index">刘明康</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/leader/index"><img src="${staticRoot}/xccf/images/pic_06.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">中国前商务参赞</div>
							<div class="title"><a href="/xccf/leader/index">何伟文</a></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="item yqjb guest">
			<h1>拟邀请嘉宾</h1>
			<div class="list">
				<ul>
					<li>
						<div class="pic">
							<a href="/xccf/guest/index"><img src="${staticRoot}/xccf/images/pic_07.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">汉能控股集团董事长</div>
							<div class="title"><a href="/xccf/guest/index">李河君</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/guest/index"><img src="${staticRoot}/xccf/images/pic_08.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">阿里巴巴集团董事局主席</div>
							<div class="title"><a href="/xccf/guest/index">马云</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/guest/index"><img src="${staticRoot}/xccf/images/pic_09.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">杭州哇哈哈集团董事长</div>
							<div class="title"><a href="/xccf/guest/index">宗庆后</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/guest/index"><img src="${staticRoot}/xccf/images/pic_10.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">联想集团董事局名誉主席</div>
							<div class="title"><a href="/xccf/guest/index">柳传志</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/guest/index"><img src="${staticRoot}/xccf/images/pic_11.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">浙江能源集团董事长</div>
							<div class="title"><a href="/xccf/guest/index">吴国潮</a></div>
						</div>
					</li>
					<li>
						<div class="pic">
							<a href="/xccf/guest/index"><img src="${staticRoot}/xccf/images/pic_12.jpg" /></a>
						</div>
						<div class="nameContent">
							<div class="content">神秘嘉宾</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="banner"><a href="#"><img src="${staticRoot}/xccf/images/banner0.jpg" /></a></div>
<div class="item zchr person">
	<h1>论坛总策划人</h1>
	<div class="list">
		<ul>
			<li>
				<div class="pic">
					<a href="/xccf/organiger/index"><img src="${staticRoot}/xccf/images/ceo.jpg" /></a>
				</div>
				<div class="nameContent">
					<div class="title"><a href="/xccf/organiger/index">柳志伟</a></div>
					<div class="time">浙江熙川控股集团有限公司董事长</div>
					<div class="content">全球中小企业联盟副主席，中华柳氏文化促进会总会副秘书长，浙商全国理事会主席团主席浙江爱心事业基金会“最美浙江”专项基金管理委员会主任，浙江省河北商会发起人及常务副会长，浙江熙川控股集团有限公司董事长。</div>
				</div>
			</li>
			<li>
				<div class="ProPic">
					<div class="pic">
					  <div class="index_ban">
							<div id='mySlide' class='swipe'>
								<div class='swipe-wrap'>
									<div class="swipePanel">
										<div class="swipeUL">
											<div class="swipeLI">
												<div class="pics">
													<a href="TraineeDetail.html"><img src="${staticRoot}/xccf/images/chr_01.jpg" /></a>
												</div>
												<div class="pict">
													<a href="TraineeDetail.html">2014年7月，他应邀参加第六届中国（国际）资产管理大会</a>
												</div>
											</div>
											<div class="swipeLI">
												<div class="pics">
													<a href="TraineeDetail.html"><img src="${staticRoot}/xccf/images/chr_02.jpg" /></a>
												</div>
												<div class="pict">
													<a href="TraineeDetail.html">2014年12月应邀参加全球中小企业论坛</a>
												</div>
											</div>
										</div>
									</div>
									<div class="swipePanel">
										<div class="swipeUL">
											<div class="swipeLI">
												<div class="pics">
													<a href="TraineeDetail.html"><img src="${staticRoot}/xccf/images/chr_03.jpg" /></a>
												</div>
												<div class="pict">
													<a href="TraineeDetail.html">法国前总理理让-皮埃尔·拉法兰先生与柳志伟董事长合影</a>
												</div>
											</div>
											<div class="swipeLI">
												<div class="pics">
													<a href="TraineeDetail.html"><img src="${staticRoot}/xccf/images/chr_01.jpg" /></a>
												</div>
												<div class="pict">
													<a href="TraineeDetail.html">韩国前总统李明博先生与柳志伟董事长合影</a>
												</div>
											</div>
										</div>
									</div>
									<div class="swipePanel">
										<div class="swipeUL">
											<div class="swipeLI">
												<div class="pics">
													<a href="TraineeDetail.html"><img src="${staticRoot}/xccf/images/chr_01.jpg" /></a>
												</div>
												<div class="pict">
													<a href="TraineeDetail.html">韩国前总统李明博先生与柳志伟董事长合影</a>
												</div>
											</div>
											<div class="swipeLI">
												<div class="pics">
													<a href="TraineeDetail.html"><img src="${staticRoot}/xccf/images/chr_01.jpg" /></a>
												</div>
												<div class="pict">
													<a href="TraineeDetail.html">韩国前总统李明博先生与柳志伟董事长合影</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prev" onclick='mySwipe.prev()'><img src="${staticRoot}/xccf/img/Sprev.png" /></div>
					<div class="next" onclick='mySwipe.next()'><img src="${staticRoot}/xccf/img/Snext.png" /></div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="item hzmt">
	<h1>合作媒体</h1>
	<div class="list">
		<ul>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo1.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo2.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo3.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo4.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo5.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo6.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo7.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo8.jpg" /></a></li>
			<li><a href="#"><img src="${staticRoot}/xccf/images/brandLogo9.jpg" /></a></li>
		</ul>
	</div>
</div>

