#set( $layout = "/layout/web-layout.vm")

<div class="wrapper">
	<div class="item ltyc detail">
		<h1>论坛日程</h1>
		<div class="list">
			#foreach($ft in $!{programList})
				<dl #if($velocityCount == $!{count}) class="last" #end>
					<dt>
						<div style="background:url(${staticRoot}/xccf/img/hd.png) no-repeat 0;">
							<p style="margin-left: 20px;font-size: 20px;color: white;">$!{ft.schedule}</p>
						</div>
					</dt>
					<dd><div class="text">$!{ft.comment}</div></dd>
				</dl>
			#end
		</div>
	</div>
</div>
	